* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    

}

#container {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: (16.6vh 16.6vh 16.6vh 16.6vh 16.6vh 16.6vh);
    grid-template-areas:
        "header header header header"
        "seccion-0 seccion-0 seccion-0 seccion-0 "
        "seccion-1 seccion-1 seccion-1 seccion-1 "
        "seccion-2 seccion-2 seccion-4 seccion-4"
        "seccion-3 seccion-3 seccion-3 seccion-3 "
        "footer footer footer footer"
    ;

}


.header {

    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 20vh;
    overflow: hidden;
    
    
    








}

.ul {
    display: flex;
    width: 520px;
    align-items: flex-end;
    
    height:60px;
    list-style: none;
    padding: 10px;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
   

}

.ul li a {
    color: white;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    flex-wrap: wrap;
}





.header img {
    height: 12vh;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.header img:hover {
    transform: rotate(100%);
    transition: 2s;
}

@keyframes girar {
    0% {
        transform: rotate(0);
    }

    12.5% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(90deg);
    }

    37.5% {
        transform: rotate(135deg);
    }

    50% {
        transform: rotate(180deg);
    }

    62.5% {
        transform: rotate(225deg);
    }

    75% {
        transform: rotate(270deg);
    }

    87.5% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(359deg);
    }
}




.header h1 {
    color: coral;
    font-size: 8vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.fondo {
    background-image: url(https://www.velapuerca.com/images/albums/2022-velapuerca-discopatico.jpg);
}

.main {
    min-width: 100vw;
    flex-wrap: wrap;
}


.seccion-0 {
    grid-area: seccion-0;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.gZGKcPmTO4Qe3HJX6tM9bwHaEI&pid=Api&P=0);

    min-height: 12vh;
}


.seccion-1 {
    grid-area: seccion-1;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;



}



.seccion-1 p {
    color: white;
    max-width: 1260px;
    text-align: center;
    padding: 15px;
    margin: auto;
    font-weight: bold;
    font-size: 20px;

}

.seccion-1 span {
    color: coral;
}

.seccion-1 img {
    padding: 25px;
    padding-top: 20px;
    margin: auto;
}

.seccion-2 {
    grid-area: seccion-2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.seccion-2 h2 {
    color: coral;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    padding-top: 60px;


}

.seccion-2 h3 {
    color: white;
    text-align: center;
    padding: 5px;
    padding-top: 30px;
}

.seccion-2 p {
    text-align: center;
    color: white;
    padding: 5px;
}

.seccion-2 iframe {
    padding-left: 23px;
    padding-top: 40px;
    width: 432px;
    margin: auto;
}




.seccion-3 {
    grid-area: seccion-3;

}

.seccion-3 h2 {
    font-size: 40px;
    color: coral;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
}


.img-sec-3 {
    display: flex;
    flex-wrap: wrap;

    padding: 50px;
    padding-left: 100px;
    margin: auto;
    justify-content: center;
}

.seccion-3 img {
    width: 230px;
}

.seccion-3 img:hover {
    transform: scale(1.8);
    transition: 1s;
}

.seccion-4 {
    padding-top: 60px;
    grid-area: seccion-4;
}

.seccion-4 h2 {
    font-size: 40px;
    text-align: center;
    color: coral;

}

.seccion-4 h3 {
    padding: 15px;
    color: white;
    text-align: center;
    padding-top: 28px;


}

.div-iframe {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    padding-block-end: 20px;
}








.footer {
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.gZGKcPmTO4Qe3HJX6tM9bwHaEI&pid=Api&P=0);
    grid-area: footer;
    min-height: 15vh;
}

.footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer h2 {
    padding: 10px;
    text-align: center;
    color: coral;
}

.ul-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 600px;
    height: 153px;
    align-items: center;

}

.ul-2 li a {
    color: white;
    text-decoration: dashed;

}

.ul-2 li:hover {
    transform: scale(1.2);
    transition: 0.3s;
}




/* estilo de seccion historia*/


.seccion-1h {
    overflow: hidden;
}

.seccion-1h h2 {
    color: coral;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    padding: 10px;

}

.seccion-1h p {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;


}


.seccion-1h div {
    background-color: rgba(176, 189, 194, 0.644);

}



/*ESTILO DE SECCION-1 "proximos shows"*/



.fondo {
    background-image: url(https://www.velapuerca.com/images/albums/2022-velapuerca-discopatico.jpg);
}

.seccion-ps{
    overflow: hidden;
}
.shows-h2 {

    color: coral;
    font-size: 60px;
    text-align: center;
    padding: 50px;


}

.show-item {
    display: flex;
    



}

.formato-caja {
    width: 85vw;
    height: 285px;
    background-color: rgba(176, 189, 194, 0.644);
    border-top-style: dotted;
    text-align: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding: 0 0 10px;
    padding-left: 10px;




}

.show-date {
    display: block;
    min-width: 200px;
    text-align: center;
    padding: 0 15px;
    padding-top: 0;
    min-height: 100px;
    background-color: rgb(54, 49, 49);
    border-top: 24px solid coral;
    margin-top: 8px;
    padding-top: 30px;
    






}



.dia {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.mes {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.año {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.hora {
    color: coral;
    font-weight: bold;
    font-size: 20px;
}



.lugar  {
    font-size: 40px;
    font-weight: bold;
    color: darkslateblue;
    


}

.titulo{
    flex-wrap: wrap;
}
.evento {
    color: darkslateblue;
    font-size: 30px;
    font-weight: bold;
    

}

.descripcion {
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 0 0 10px;
    width: 900px;
    
}

.descripcion p {
    max-width: 800px;
    margin: auto;
    
}

.ticket {
    width: 80px;
    height: 30px;
    background-color: black;
    border: solid 2px coral;

}

.ticket:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.ticket a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


/* ESSTILO seccion-2 de proximos shows*/
.seccion-2-ps {
    flex-wrap: wrap;
}

.seccion-2-ps h2 {
    font-size: 40px;
    color: coral;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

.seccion-2-ps {
    margin-top: 180px;
}

.div-ps {
    display: flex;
}

.ul-ps {
    display: flex;
    height: 1000px;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1080px;
}

.ul-ps img {
    width: 350px;
    height: 350px;
}

.caja-ps {
    width: 389px;
    height: 470px;
    background-color: black;
    border: 2px dashed coral;
}

.caja-ps {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.caja-ps p {
    padding-top: 10px;
    padding: 7px;
}

.caja-ps button {
    height: 28px;
    color: coral;
    background-color: rgb(44, 43, 43);
    font-weight: bold;
}

/*ESTILO seccion discografia*/

#grid-padre {
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(5, 20vh);
    grid-area:
        "header header header header"
        "seccion-0 seccion-0 seccion-0 seccion-0"
        "seccion-1-disc seccion-1-disc seccion-1-disc seccion-1-disc"
        "seccion-2-disc seccion-2-disc seccion-2-disc seccion-2-disc"
        "footer footer footer footer"
    ;
}

.header {
    grid-area: header;

}

.seccion-0 {
    grid-area: seccion-0;
}

.seccion-1-disc {
    grid-area: seccion-1-disc;

}

.seccion-1-disc h2 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 30px;
}

.seccion-1-disc h3 {
    font-size: 25px;
    font-weight: bold;
    color: coral;
    text-align: center;
    padding: 10px;
}

.div-sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.div-sec-1 p {
    max-width: 1140px;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;

}

.seccion-1-disc div {
    background-color: rgba(176, 189, 194, 0.644);
    max-width: 70vw;
    margin: auto;

}

.div-sec-1 iframe {
    padding: 25px 0 80px;
}

.div-sec-1 span {
    color: coral;
}

.byf {
    padding-top: 50px;
    border-top: dashed 5px grey;
}

.seccion-2-disc {
    grid-area: seccion-2-disc;
    display: flex;
    height: 700px;
    flex-direction: column;

}

.seccion-2-disc h2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 20px;

}

.div-sec-2 {
    display: flex;
}


.seccion-2-disc img {
    width: 200px;
    height: 200px;
    padding: 5px;
}

.ul-disc {
    display: flex;
    height: 600px;
    width: 1300px;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    list-style: none;
}


.seccion-2-disc img:hover {
    background-color: rgba(128, 128, 128, 0.116);
    transform: scale(1.2);
    transition: 1s;
}


/* ESTILO DE SECCION - contacto*/

.main h2 {
    font-size: 40px;
    font-weight: bold;
    color: coral;
    padding: 20px;
    text-align: center;

}

.div-contacto {
    text-align: center;
    background-color: rgba(176, 189, 194, 0.644);
    padding: 0 0 20px;

}

.div-contacto h3 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding: 10px;

}

.div-contacto p {
    font-size: 20px;
    color: black;
    padding: 10px;

}

.div-contacto button {
    height: 30px;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.466);
    color: coral;
    font-weight: bold;


}

.input-group {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}


.footer {
    grid-area: footer;
    flex-wrap: wrap;
}



@media(max-width:768px){
    #container{
        grid-template-rows: repeat(14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh);
        grid-template-areas:
        "header header header header"
        "seccion-0 seccion-0 seccion-0 seccion-0 "
        "seccion-1 seccion-1 seccion-1 seccion-1 "
        "seccion-2 seccion-2 seccion-2 seccion-2"
        "seccion-3 seccion-3 seccion-3 seccion-3 "
        "seccion-4 seccion-4 seccion-4 seccion-4"
        "footer footer footer footer"
    ;
    overflow: hidden;
    

    }

    .header h1{
        font-size: 30px;
        
    }
    
    .header img{
        height: 10vh;
        
    }
    
    
    .ul {
        width: 380px;
        height: 60px;
        font-size: 5px;
    }
    
    .ul li a{
        font-size: 10px;
        ;
    }

    .seccion-3 img {
        width: 180px;

    }

    .seccion-3 img:hover {
        transform: scale(1.4);
        transition: 1s;
    }

    .seccion-2{
    flex-direction: column;
    flex-wrap: nowrap;

    }

    .seccion-2 iframe{
        padding-left: 0px;
        padding-top: 10px;
        width: 345px;
        margin:auto;
    }
    .seccion-1 img {
        width: 330px;
        margin: auto;
    }

    .seccion-1 p {
        font-size: 15px;
    }

    .header {
        flex-direction: column;
    }


    .seccion-ps {
        overflow: hidden;
    }

    .descripcion {
        max-width: 400px;
        font-size: 11px;
    }

    .lugar {
        font-size: 25px;
    }

    .evento {
        font-size: 20px;
    }

    .ticket {
        width: 57px;
        height: 22px;
        font-size: 10px;
    }

    .dia {
        font-size: 16px;
    }

    .mes {
        font-size: 16px;
    }

    .año {
        font-size: 16px;
    }

    .hora {
        font-size: 16px;
    }

    .show-date {
        padding-right: 10px;
        height: 130px;
        padding-top: 5px;
    }

    .formato-caja {
        min-width: 150px;
        height: 250px;
    }

    .ul-disc img{
        width: 100px;
    }

    .ul-ps img {
        width: 150px;
        height: 150px;
}

    .caja-ps {
        width: 267px;
        height: 354px;
    }

    .ul-ps {
        justify-content: space-evenly;
        height: 1600px;
    }
    

}


@media(max-width: 465px){
    container{
        grid-template-rows: repeat(14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh, 14.2vh);
        grid-template-areas:
        "header header header header"
        "seccion-0 seccion-0 seccion-0 seccion-0 "
        "seccion-1 seccion-1 seccion-1 seccion-1 "
        "seccion-2 seccion-2 seccion-2 seccion-2"
        "seccion-3 seccion-3 seccion-3 seccion-3 "
        "seccion-4 seccion-4 seccion-4 seccion-4"
        "footer footer footer footer"
        ;


    }

    .ul{
        width: 369px;
    height: 60px;
    font-size: 5px;
    }
/* MQ - PROXIMOS SHOWS*/
    .seccion-ps h2{
        font-size: 25px ;
    }

    .descripcion {
        max-width:315px;
        font-size: 11px;
    }

    .lugar {
        font-size: 18px;
    }

    .evento {
        font-size: 15px;
    }

    .ticket {
        width: 57px;
        height: 22px;
        font-size: 10px;
    }

    .dia {
        font-size: 16px;
    }

    .mes {
        font-size: 16px;
    }

    .año {
        font-size: 16px;
    }

    .hora {
        font-size: 16px;
    }

    .show-date {
        min-width: 160px;
        margin-top: -12px;
    }

    .show-item{
        flex-direction: column;
        justify-content: space-evenly;

    }
    .formato-caja {
        min-width: 150px;
    height: 360px;
        
    }

    .ul-ps img{
        width: 100px;
        height: 100px;
        

    }

    .ul-ps {
        height: 700px;
    }

    .div-ps{
        padding-right: 20px;
    }
    .caja-ps p{
        padding: 0px;
    font-size: 10px;
    }

    .caja-ps{
    width: 120px;
    height: 178px
    }

    .caja-ps button{
        height: 20px;
        width: 70px;
        font-size: 10px;
    }


    .seccion-3 img {
        width: 100px;
        
    
    }

    .img-sec-3{
        padding: 10px;
        width: 415px;
    }

    .seccion-3 img:hover {
        transform: scale(1.4);
        transition: 1s;
    }
    
    .ul-2{
        width: 400px;
        font-size: 12px;
    }

    .ul-disc img{
        width: 90px;
        height: 90px;
    
    }

    .seccion-2-disc img{
        height: 110px;
    padding: 5px
    }

    .seccion-2-disc h2{
        font-size: 25px;
    }
}
    
















